<?xml version="1.0" encoding="UTF-8"?><plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>Hyde</string>
    <key>CFBundleShortVersionString</key>
    <string>0.10</string>
    <key>CFBundleGetInfoString</key>
    <string>DevDaily.com Hyde v1.1, May, 2010</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>Alvin Alexander, devdaily.com</string>
    <key>CFBundleVersion</key>
    <string>100</string>
    <key>CFBundleIconFile</key>
    <string>Hyde.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.devdaily.heidi.Hyde</string>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>com.devdaily.heidi.Hyde</string>
      <key>JVMVersion</key>
      <string>1.5+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/HydeApp.jar</string>
        <string>$JAVAROOT/commons-codec-1.4.jar</string>
        <string>$JAVAROOT/forms-1.0.7.jar</string>
        <string>$JAVAROOT/quaqua.jar</string>
      </array>
      <key>Properties</key>
      <dict>
        <key>apple.awt.textantialiasing</key>
        <string>true</string>
        <key>apple.awt.brushMetal</key>
        <string>true</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
        <key>apple.awt.showGrowBox</key>
        <string>true</string>
      </dict>
    </dict>
  </dict>
</plist>
